{% extends 'base.html.twig' %}

{% block title %}Hotel index{% endblock %}

{% block body %}
    <h1>Hotel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>ContactName</th>
                <th>ContactEmail</th>
                <th>ContactPhone</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>
                <td>{{ hotel.id }}</td>
                <td>{{ hotel.name }}</td>
                <td>{{ hotel.address }}</td>
                <td>{{ hotel.contactName }}</td>
                <td>{{ hotel.contactEmail }}</td>
                <td>{{ hotel.contactPhone }}</td>
                <td>{{ hotel.createdAt ? hotel.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_hotel_show', {'id': hotel.id}) }}">show</a>
                    <a href="{{ path('app_hotel_edit', {'id': hotel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hotel_new') }}">Create new</a>
{% endblock %}
