{% extends 'base.html.twig' %}

{% block title %}Distribution index{% endblock %}

{% block body %}
    <h1>Distribution index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>Status</th>
                <th>Destination</th>
                <th>CreatedAt</th>
                <th>CompletedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for distribution in distributions %}
            <tr>
                <td>{{ distribution.id }}</td>
                <td>{{ distribution.quantity }}</td>
                <td>{{ distribution.status }}</td>
                <td>{{ distribution.destination }}</td>
                <td>{{ distribution.createdAt ? distribution.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ distribution.completedAt ? distribution.completedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_distribution_show', {'id': distribution.id}) }}">show</a>
                    <a href="{{ path('app_distribution_edit', {'id': distribution.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_distribution_new') }}">Create new</a>
{% endblock %}
