{% extends 'base.html.twig' %}

{% block title %}Intervention index{% endblock %}

{% block body %}
    <h1>Intervention index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>QuantityAdded</th>
                <th>PhotoBefore</th>
                <th>PhotoAfter</th>
                <th>Notes</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for intervention in interventions %}
            <tr>
                <td>{{ intervention.id }}</td>
                <td>{{ intervention.quantityAdded }}</td>
                <td>{{ intervention.photoBefore }}</td>
                <td>{{ intervention.photoAfter }}</td>
                <td>{{ intervention.notes }}</td>
                <td>{{ intervention.createdAt ? intervention.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_intervention_show', {'id': intervention.id}) }}">show</a>
                    <a href="{{ path('app_intervention_edit', {'id': intervention.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_intervention_new') }}">Create new</a>
{% endblock %}
