{{ form_start(form, {'attr': {'class': 'form form-horizontal'}}) }}
<div class="form-body">
    <div class="row">
        {# Nom #}
        <div class="col-md-4">
            <label for="{{ form.name.vars.id }}">{{ form_label(form.name) }}</label>
        </div>
        <div class="col-md-8">
            <div class="form-group has-icon-left">
                <div class="position-relative">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'form.name.placeholder'|trans}}) }}
                    <div class="form-control-icon">
                        <i class="bi bi-person"></i>
                    </div>
                </div>
                {{ form_errors(form.name) }}
            </div>
        </div>

        {# Email #}
        <div class="col-md-4">
            <label for="{{ form.email.vars.id }}">{{ form_label(form.email) }}</label>
        </div>
        <div class="col-md-8">
            <div class="form-group has-icon-left">
                <div class="position-relative">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'form.email.placeholder'|trans}}) }}
                    <div class="form-control-icon">
                        <i class="bi bi-envelope"></i>
                    </div>
                </div>
                {{ form_errors(form.email) }}
            </div>
        </div>

        {# Rôle #}
        {% if form.role is defined %}
            <div class="col-md-4">
                <label for="{{ form.role.vars.id }}">{{ form_label(form.role) }}</label>
            </div>
            <div class="col-md-8">
                <div class="form-group has-icon-left">
                    <div class="position-relative">
                        {{ form_widget(form.role, {'attr': {'class': 'form-select'}}) }}
{#                        <div class="form-control-icon">#}
{#                            <i class="bi bi-shield-check"></i>#}
{#                        </div>#}
                    </div>
                    {{ form_errors(form.role) }}
                </div>
            </div>
        {% endif %}

        {# Mot de passe #}
        <div class="col-md-4">
            <label for="{{ form.password.vars.id }}">{{ form_label(form.password) }}</label>
        </div>
        <div class="col-md-8">
            <div class="form-group has-icon-left">
                <div class="position-relative">
                    {{ form_widget(form.password, {'attr': {'class': 'form-control', 'placeholder': button_label == 'Update' ? 'form.password.placeholder_edit'|trans : 'form.password.placeholder'|trans}}) }}
                    <div class="form-control-icon">
                        <i class="bi bi-lock"></i>
                    </div>
                </div>
                 {% if button_label == 'Update' %}
                    <small class="text-muted">{{ 'form.password.help_edit'|trans }}</small>
                {% endif %}
                {{ form_errors(form.password) }}
            </div>
        </div>

        <div class="col-md-4">
            <label for="{{ form.isActive.vars.id }}">{{ form_label(form.isActive) }}</label>
        </div>
        <div class="col-md-8">
            <div class="form-group has-icon-left">
                <div class="position-relative">
                    {{ form_widget(form.isActive) }}
                </div>
                {{ form_errors(form.name) }}
            </div>
        </div>

        {# Boutons #}
        <div class="col-12 d-flex justify-content-end">
            <a href="{{ path('app_user_index') }}" class="btn btn-light-secondary me-1 mb-1">
                <i class="bi bi-x-circle"></i> {{ 'form.button.cancel'|trans }}
            </a>
            <button type="submit" class="btn btn-primary me-1 mb-1">
                <i class="bi bi-check-circle"></i> {{ button_label|default('create') == 'update' ? 'form.button.update'|trans : 'form.button.create'|trans }}
            </button>
        </div>
    </div>
</div>
{{ form_end(form) }}
